@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hidden {
  position: absolute;
  left: -99999rem;
  transform: translate3d(0, 1em, 0);
  opacity: 0; }

.tippet {
  position: absolute;
  display: inline-block;
  padding: 2rem;
  max-width: 24rem;
  border-radius: 3px;
  font: inherit;
  line-height: 1.5rem;
  z-index: 9999;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 20, 0.3);
  background-color: white;
  color: #373A4B; }

h1, h2, h3, h4, h5 {
  font-weight: 700;
  margin: 1.414em 0 0;
  line-height: 150%; }

h1 {
  font-size: 2.441rem; }

h2 {
  font-size: 1.953rem; }

h3 {
  font-size: 1.563rem;
  margin-bottom: 0.5rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1rem; }

p {
  margin-top: 1rem;
  line-height: 140%; }
  p.note {
    color: #95A4B3;
    font-size: 0.85rem; }
  p.tooltip {
    color: #373A4B;
    font-size: 1rem;
    margin-top: 0; }
  p.indent {
    margin-left: 2rem; }

a {
  color: #4579FF;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

b {
  font-weight: 700; }

.tooltip-underline {
  display: inline-block;
  color: #4579FF;
  border-bottom: 1px dotted #4579FF;
  cursor: help; }

.big-label {
  margin-top: 0;
  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #95A4B3; }

.mini-label {
  margin-top: 0;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #95A4B3; }

.tag {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem; }
  .tag.quoted {
    color: white;
    background-color: #50E3C2; }
  .tag.referred {
    color: #373A4B;
    background-color: yellow; }
  .tag.declined {
    color: white;
    background-color: #FE4959; }
  .tag.bound {
    color: white;
    background-color: #50E3C2; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #95A4B3; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #95A4B3; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #95A4B3; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #95A4B3; }

input,
select {
  width: 100%;
  -webkit-appearance: none;
  appearance: none; }

input[type="text"],
input[type="number"],
input[type="select"],
input[type="date"],
select,
.radio-button label {
  height: 50px;
  border: 1px solid #95A4B3;
  outline: none;
  border-radius: 2px;
  padding: 0px 1rem;
  font-size: inherit;
  font-family: inherit; }
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="select"]:focus,
  input[type="date"]:focus,
  select:focus,
  .radio-button label:focus {
    border: 1px solid #373A4B; }

.form-group {
  margin-top: 2rem; }
  .form-group.half-size {
    display: inline-block;
    width: calc(50% - (0.5rem + 2px)); }
  .form-group.two-col, .form-group.three-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .form-group.two-col .form-group {
    width: calc(50% - 1rem); }
  .form-group.three-col .form-group {
    width: calc(33.3% - 1rem); }

.skip + .half-size,
.half-size:first-of-type,
.half-size:not(.skip) + .half-size:not(.skip) + .half-size:not(.skip) {
  margin-left: 0; }

.half-size:not(.skip) + .half-size:not(.skip),
.half-size:not(.skip) + .half-size:not(.skip) + .half-size:not(.skip) + .half-size:not(.skip) {
  margin-left: 1rem; }

label {
  display: inline-block;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 1rem; }
  input + label {
    margin-top: 2rem; }

hr {
  margin: 2rem 0;
  border-top: transparent;
  border-bottom: 1px solid #E2EAF0; }

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 2px;
  background-image: url("https://image.flaticon.com/icons/svg/118/118738.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 1rem center; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none; }

.number-input {
  display: flex; }

.number-input button {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  cursor: pointer;
  border-right: 1px solid #95A4B3;
  border-top: 1px solid #95A4B3;
  border-bottom: 1px solid #95A4B3; }

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #373A4B;
  transform: translate(-50%, -50%); }

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg); }

input[type=checkbox] + label {
  margin-top: 1rem;
  display: block; }

input[type=checkbox] {
  display: none; }

input[type=checkbox] + label:before {
  display: inline-block;
  width: 1.33rem;
  height: 1.33rem;
  margin-right: 1rem;
  text-align: center;
  line-height: 1.33rem;
  border-radius: 2px;
  border: 1px solid #95A4B3;
  cursor: pointer; }

input[type=checkbox] + label:before {
  content: "\00a0 "; }

input[type=checkbox]:checked + label:before {
  content: "✔";
  background-color: #4579FF;
  color: white;
  border: 1px solid #4579FF; }

.radio-group {
  display: flex;
  font-size: 16px; }
  .radio-group input[type="radio"] {
    display: none; }
  .radio-group .radio-button {
    width: 100%; }
    .radio-group .radio-button + .radio-button {
      margin-left: -1px; }
  .radio-group .radio-button label {
    display: inline-block;
    margin: 0;
    width: inherit;
    line-height: 50px;
    overflow: hidden;
    font-weight: normal;
    text-align: center;
    cursor: pointer; }
  .radio-group input[type="radio"]:checked + label {
    box-shadow: inset 0 0 0 1px #373A4B;
    border: 1px solid #373A4B;
    font-weight: 500; }

.range-slider {
  display: flex; }
  .range-slider output {
    min-width: 55px;
    height: 35px;
    margin-left: 10px;
    padding: 0 1em;
    border: 1px solid #95A4B3;
    border-radius: 2px;
    line-height: 35px; }

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block; }

input[type=range]::-webkit-slider-runnable-track {
  height: 1px;
  background: #373A4B;
  background-size: 0 0;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #373A4B;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: white;
  margin-top: -12px; }

input[type=range]:focus {
  outline: none; }

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.2); }

/*
The div that holds all the lines
*/
.pac-container,
#naicsResults {
  list-style: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
  .pac-container:after,
  #naicsResults:after {
    display: none; }

/*
class for each line of the result
*/
.pac-item,
#naicsResults li {
  font: inherit;
  height: 50px;
  line-height: 50px;
  padding: 0 1rem; }

#naicsResults li {
  border-bottom: 1px solid #EFF4F8;
  cursor: pointer; }
  #naicsResults li:hover {
    background-color: #EFF4F8; }

.pac-icon-marker {
  display: none; }

.pac-item span {
  font: inherit; }

.button-group {
  display: flex;
  justify-content: flex-end; }
  .button-group .button + .button {
    margin-left: 1rem; }

.button {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer; }
  .button-big {
    height: 50px;
    padding: 0 2rem;
    line-height: 50px; }
  .button-small {
    height: 35px;
    padding: 0 1rem;
    font-size: 0.85rem;
    line-height: 35px; }
  .button-primary {
    background-color: #4579FF;
    color: white; }
  .button-primary-ghost {
    border: 2px solid #4579FF;
    color: #4579FF; }
  .button-confirm {
    background-color: #50E3C2;
    color: white; }
  .button-warning {
    background-color: #FE4959;
    color: white; }
  .button-secondary {
    border: 2px solid #E2EAF0;
    color: #373A4B; }
    .button-secondary.button-small {
      line-height: 31px; }
    .button-secondary.button-big {
      line-height: 46px; }

.quote-flow-container {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden; }
  .quote-flow-container.hidden {
    position: absolute;
    left: -99999rem;
    visibility: hidden; }
  .quote-flow-container h4 {
    margin-top: 3rem; }
  .quote-flow-container .header {
    width: calc(100% - 360px); }
  .quote-flow-container .header,
  .quote-flow-container .prog-bar {
    z-index: 99999;
    overflow-x: hidden; }
  @media screen and (max-width: 480px) {
    .quote-flow-container {
      margin: 0;
      padding: 1rem; } }

.question-container {
  max-width: 700px;
  margin: calc(60px + 3rem) auto 0 auto;
  padding: 0rem 3rem 3rem 3rem; }

.child-indent {
  padding: 2rem;
  margin-top: 1rem;
  border: 1px solid #E2EAF0;
  background-color: #EFF4F8;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0, 0, 0, 1), opacity 0.3s cubic-bezier(0, 0, 0, 1); }
  .child-indent + .child-indent {
    margin-top: -2rem;
    border-top: none; }
  .hidden + .child-indent {
    margin-top: 1em; }
  .child-indent input,
  .child-indent select,
  .child-indent .radio-button label {
    background-color: white; }
  @media screen and (max-width: 480px) {
    .child-indent {
      padding: 1rem; } }

.prog-bar {
  position: absolute;
  top: 0px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #50E3C2;
  transition: all 0.3s cubic-bezier(0, 0, 0, 1); }

.additional-insured {
  padding: 2rem;
  margin-top: 2rem;
  border: 1px solid #E2EAF0; }
  .additional-insured p:first-child {
    margin-top: 0; }

.summary-container {
  margin-top: 2rem; }
  .summary-container p {
    display: flex;
    justify-content: space-between; }

.coverage-table p {
  display: flex;
  justify-content: space-between; }
  .coverage-table p:first-child {
    margin-top: 0;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #95A4B3; }
  .coverage-table p span {
    text-align: left;
    display: inline-block; }
  .coverage-table p span + span {
    margin-left: 2rem; }

.animate-transition {
  animation: animate-transition 0.3s cubic-bezier(1, 0, 0, 1); }

@keyframes animate-transition {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  50% {
    opacity: 0;
    transform: translate3d(0, 5px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  overflow-x: hidden; }

body {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  color: #373A4B;
  background-color: #EFF4F8; }

section + section {
  margin-top: 4rem; }

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #E2EAF0;
  align-items: center;
  display: flex;
  justify-content: space-between; }
  .header h5 {
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .header.small-pad {
    padding: 0 1rem; }
  .header.full-pad {
    padding: 0 3rem; }
  .header.sticky {
    position: fixed; }

.main-wrapper {
  overflow-y: hidden; }

.main-wrapper,
.account-wrapper {
  position: relative;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between; }

.nav-bar {
  min-width: 60px;
  height: 100%;
  background-color: #4579FF; }

.account-wrapper.quote-open:before {
  content: "";
  position: absolute;
  top: 0;
  left: -360px;
  height: 100%;
  width: 360px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999; }

.accounts-list {
  position: relative;
  min-width: 300px;
  max-width: 300px;
  height: 100%; }
  .accounts-list .header {
    width: 300px; }
  .accounts-list ul {
    height: 100%;
    overflow-y: scroll; }

.accounts-list li {
  color: #373A4B;
  padding: 0.85rem;
  border-bottom: 1px solid #E2EAF0;
  background-color: white;
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer; }
  .accounts-list li:hover {
    background-color: #fafbfd; }
  .accounts-list li.account-selected {
    background-color: #EFF4F8;
    color: #373A4B;
    font-weight: 700; }

.account-detail {
  width: 100%;
  max-width: 470px;
  height: inherit;
  background-color: white;
  border-left: 1px solid #E2EAF0; }

.account-detail-content {
  display: flex;
  justify-content: space-between; }

.account-info {
  width: 100%;
  padding: 0 2rem; }

.contact-info {
  margin-top: 1rem; }
  .contact-info li {
    line-height: 2rem; }

.account-detail-item {
  margin-top: 1rem;
  align-items: baseline;
  display: flex;
  justify-content: space-between; }
  .account-detail-item p, .account-detail-item h5 {
    margin-top: 0; }

.account-policies {
  position: relative;
  width: 100%;
  min-width: 400px;
  border-left: 1px solid #E2EAF0;
  background-color: #EFF4F8; }

.policy-container {
  height: calc(100% - 60px);
  overflow-y: scroll; }

.policy {
  color: #373A4B;
  padding: 1.5rem;
  margin: 1rem;
  background-color: white;
  border: 1px solid #E2EAF0;
  cursor: pointer;
  display: flex;
  justify-content: space-between; }
  .policy:hover {
    background-color: #fafbfd; }

.policy-icon {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  background-color: #E5ECFF;
  border-radius: 50%;
  text-align: center; }
  .policy-icon img {
    width: 70%;
    padding: 30% 10%; }

.policy-info {
  width: 100%;
  margin-left: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between; }

.policy-detail-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: white;
  height: 100%;
  transform: translate3d(0rem, 0, 0);
  opacity: 1; }
  .policy-detail-wrapper.hidden {
    left: -99999rem;
    transform: translate3d(2rem, 0, 0);
    opacity: 0;
    pointer-events: none; }

.policy-detail {
  padding: 2rem;
  height: calc(100% - 60px);
  overflow-y: scroll; }

.policy-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
  .policy-header .policy-icon {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px; }
  .policy-header .policy-details {
    margin-left: 2rem; }
  .policy-header h3 {
    margin-top: 0;
    margin-bottom: 0.5rem; }

.policy-numbers {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between; }
  .policy-numbers h3 {
    margin-top: 0.5rem; }

.payment-options {
  margin-top: 1rem; }

.payment-option {
  padding: 1rem;
  border: 1px solid #E2EAF0;
  display: flex;
  justify-content: space-between; }
  .payment-option + .payment-option {
    margin-top: -1px; }
  .payment-option p {
    margin-top: 0; }

.policy-actions .button {
  width: 100%;
  display: block; }

.policy-actions .button + .button {
  margin-top: 0.5rem; }

.quote-quoting {
  background-color: #f8faff;
  position: relative;
  overflow: hidden; }
  .quote-quoting:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: 0;
    animation: borders 0.75s linear infinite;
    background: radial-gradient(#4579FF 33%, transparent, transparent); }

@keyframes borders {
  0% {
    transform: translate3d(-50%, -50%, 0); }
  25% {
    transform: translate3d(50%, -50%, 0); }
  50% {
    transform: translate3d(50%, 50%, 0); }
  75% {
    transform: translate3d(-50%, 50%, 0); }
  100% {
    transform: translate3d(-50%, -50%, 0); } }
  .quote-quoting:after {
    content: "Preparing your quote...";
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    color: #4579FF;
    line-height: 100px;
    text-align: center;
    background-color: white; }
