h1,h2,h3,h4 {
  font-weight: 500;
  margin: 1.414em 0 0;
  line-height: 150%;
}

h1 {
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin-top: 1rem;
  line-height: 140%;
}

p.note {
  color: $darkgray;
  font-size: 0.85rem;
}

p.tooltip {
  color: $black;
  font-size: 1rem;
  margin-top: 0;
}

b {
  font-weight: 700;
}

.tooltip-underline {
  display: inline-block;
  color: $blue;
  border-bottom: 1px dotted $blue;
  cursor: help;
}

.mini-label {
  margin-top: 0;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $darkgray;
}
