$black: #303344;
$slate: #545A6B;
$darkgray: #95A4B3;
$gray: #E2EAF0;
$lightgray: #EFF4F8;

$blue: #4579FF;
$green: #50E3C2;
$red: #FE4959;

$field-border-color: $darkgray;

$base-spacing-unit: 30px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop-small: 1280px;
$breakpoint-desktop: 1440px;
$breakpoint-desktop-large: 1660px;
