@import 'reset';
@import 'variables';
@import 'mixins';
@import 'utilities';
@import 'typeography';
@import 'forms';
@import 'buttons';
@import 'quoteflow';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {box-sizing: border-box;}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: $lightgray;
}

section {
  & + section {
    margin-top: 4rem;
  }
}

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid $gray;
  align-items: center;
  @include flex-row;

  h4 {
    margin-top: 0;
  }

  &.small-pad {
    padding: 0 1rem;
  }

  &.full-pad {
    padding: 0 3rem;
  }

  &.sticky {
    position: fixed;
  }
}

.main-wrapper {
  overflow-y: hidden;
}

.main-wrapper,
.account-wrapper {
  position: relative;
  width: 100%;
  height: inherit;
  @include flex-row;
}

.nav-bar {
  min-width: 60px;
  height: 100%;
  background-color: $black;
}

.account-wrapper {
  &.quote-open {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -300px;
      height: 100%;
      width: 300px;
      background-color: rgba(0,0,0,.3);
      z-index: 9999;
    }
  }
}


.accounts-list {
  position: relative;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  overflow-y: scroll;

  .header {
    width: 300px;
  }

  ul {
    padding-top: 60px;
  }
}

.accounts-list li {
  color: $black;
  padding: 0.85rem;
  margin: 0.25rem;
  background-color: white;
  // font-size: 0.85rem;
  line-height: 150%;
  cursor: pointer;

  &.account-selected {
    background-color: $blue;
    color: white;
  }
}

.account-detail {
  width: 100%;
  min-width: 600px;
  height: inherit;
  background-color: white;
  border-left: 1px solid $gray;
}

.account-detail-content {
  @include flex-row;
}

.account-info {
  width: 100%;
  // max-width: 600px;
  padding: 0 3rem;
}

.contact-info {
  margin-top: 1rem;
  li {
    line-height: 2rem;
  }
}

.account-policies {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  border-left: 1px solid $gray;
  background-color: $lightgray;
}

.policy-container {
  height: calc(100% - 60px);
  overflow-y: scroll;
}

.policy {
  color: $black;
  padding: 2rem;
  margin: 0.5rem;
  background-color: white;
  border: 1px solid $gray;
  @include flex-row;
}

.policy-icon {
  min-width: 50px;
  min-height: 50px;
  background-color: $gray;
  border-radius: 50%;
}

.policy-info {
  width: 100%;
  margin-left: 1rem;
  align-items: center;
  @include flex-row;
}
